<section class='index-page'>
  <img class='avatar' src={{image}} alt='avatar' />
  <h2>Hello {{name}}!</h2>
  <form action='/auth/logout' method='post'>
    <button type='submit'>Log out</button>
  </form>
</section>